body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #343a40;
    text-align: justify; 
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #69E6E8; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

h1, h2 {
    color: white; 
}

p {
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 15px;
    text-align: justify;
}

ul, ol {
   padding-right: 2%;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #0056b3; 
}

a {
    text-decoration: none;
    color: inherit; 
}

a:hover {
    text-decoration: underline;
}

img{
    height: 15px;
    width: 25px;
}

.legenda{
    margin: 2%;
    padding: 5%;
    border: solid white 1px;
    border-radius: 8px;
}

.menu__link {
    display: inline-block;
    text-decoration: none;
    border: 2px solid cyan;
    color: white;
    pointer-events: auto;
    line-height: 40px;
    position: relative;
    padding: 0 50px;
    box-sizing: border-box;
    margin: 0;
    user-select: none;
    overflow: hidden;
    border-radius: 50px;
    width: 200px;
    font-weight: bolder;
    font-size: 14px;
    margin-left: -400px;
    margin-right: 180px;

    &::before {
        content: attr(data-hover);
        background-color: cyan;
        color: black;
        font-weight: bolder;
        position: absolute;
        top: 100%;
        bottom: 0;
        left: 0;
        transition: all 300ms cubic-bezier(0.190, 1.000, 0.560, 1.000);
        right: 0;
    }


    &:hover::before {
        top: 0;
    }
}